<form class="" action="index.html" method="post">

  <div class="form-group">
    <label for="location"> Location: </label>
    {{input value=location id="location"}}
  </div>

  <button class="btn btn-primary" {{action 'venueLookup'}}> SEARCH </button>
  
</form>
